{{define "body"}}
<div class="row justify-content-xl-center ps-4 pe-4">
	<div class="col-md-10">
		<h1>Edit your gallery</h1>
		<hr class="mb-3" />
	</div>
	<div class="col-md-12">{{template "editGalleryForm" .}}</div>
	<div class="col-md-12">{{template "imageUploadForm" .}}</div>
	<div class="col-md-12">{{template "imagesList" .}}</div>
	<div class="row justify-content-xl-center">
		<div class="col-md-2 text-center">
			<!-- Button trigger modal -->
			<button
				type="button"
				class="btn btn-danger"
				data-bs-toggle="modal"
				data-bs-target="#deleteModal"
			>
				Delete Gallery
			</button>
		</div>
	</div>
</div>

{{end}} {{define "editGalleryForm"}}
<form
	action="/galleries/{{.ID}}/update"
	method="POST"
	class="form-group row justify-content-xl-center"
>
	<div class="row align-items-center justify-content-xl-center">
		<div class="col-md-1">
			<label for="title" class="col-form-label" style="font-size: x-large"
				>Gallery Title</label
			>
		</div>
		<div class="col-md-8">
			<input
				type="text"
				name="title"
				class="form-control"
				id="title"
				placeholder="What is the title of your gallery?"
				value="{{.Title}}"
			/>
		</div>
		<div class="col-md-1">
			<button
				type="submit"
				class="btn btn-primary save-button"
				style="width: 150px"
			>
				Save
			</button>
		</div>
	</div>
</form>

<form action="/galleries/{{.ID}}/delete" method="POST" name="deleteForm"></form>

<!-- Modal -->
<div
	class="modal fade"
	id="deleteModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="deleteModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete '{{.Title}}'?</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				Are you sure you wish to delete your gallery?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" onclick="deleteGallery()">
					Delete
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	function deleteGallery() {
		document.deleteForm.submit();
	}
</script>
{{end}} {{define "imageUploadForm"}}
<!-- snippet for reference -->
<form
	action="/galleries/{{.ID}}/images"
	method="POST"
	enctype="multipart/form-data"
	class="form-group row justify-content-xl-center"
>
	<div class="row align-items-top justify-content-xl-center mt-3">
		<div class="col-md-1">
			<label for="images" class="col-form-label" style="font-size: x-large"
				>Add Images</label
			>
		</div>
		<div class="col-md-8">
			<input
				class="form-control"
				type="file"
				id="images"
				name="images"
				multiple
			/>
			<p class="help-block">
				Please only use .jpg, .jpeg, and .png file types.
			</p>
		</div>
		<div class="col-md-1">
			<button type="submit" class="btn btn-primary" style="width: 150px">
				Upload
			</button>
		</div>
	</div>
</form>
{{end}} {{define "imagesList"}}
<div class="form-group row justify-content-xl-center">
	<div class="row align-items-center justify-content-xl-center">
		<div class="col-md-1 align-items-end">
			<label for="images-list" class="col-form-label" style="font-size: x-large"
				>Images</label
			>
		</div>
		<div class="col-md-8">
			<p
				name="images-list"
				id="images-list"
				style="margin-bottom: 0; padding-bottom: 0"
			>
				Images coming soon...
			</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{{end}}
